<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
        <div formGroupName="userData">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" class="form-control" formControlName="userName">
            <p *ngIf="!reactiveForm.get('userData.userName').valid && 
                            reactiveForm.get('userData.userName').touched">
              Please provide user name </p>
          </div>
          <div class="form-group">
            <label for="email">email</label>
            <input type="text" id="email" class="form-control" formControlName="email">
            <p *ngIf="!reactiveForm.get('userData.email').valid && reactiveForm.get('userData.email').touched"> Please
              provide valid email name</p>
          </div>
        </div>


        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input formControlName="gender" type="radio" [value]="gender">{{ gender }}
          </label>
        </div>
        <div class="form-group" formArrayName='hobbies' >
          <button class="btn btn-primary" (click)="addHobby()" type="button"> Add Hobby</button>
          
          <div class="form-group" *ngFor="let hobby of reactiveForm.get('hobbies').controls; let i=index">
            <input type="text" class="form-control" [formControlName]="i" >
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>